<h1>Users</h1>

<table class="record">
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthdate</th>
      <th>SSN</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_presenters.each do |user_presenter| %>
      <tr>
        <td class="record-attr-value"><%= user_presenter.name %></td>
        <td class="record-attr-value"><%= user_presenter.birthdate %></td>
        <td class="record-attr-value"><%= user_presenter.ssn %></td>
        <td class="record-attr-value"><%= link_to 'Show', user_presenter.show_url %></td>
        <td class="record-attr-value"><%= link_to 'Edit', user_presenter.edit_url %></td>
        <td class="record-attr-value"><%= link_to 'Destroy', user_presenter.show_url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
