<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_presenter.name %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @user_presenter.birthdate %>
</p>

<p>
  <strong>SSN:</strong>
  <%= @user_presenter.ssn %>
</p>

<a href="<%= @user_presenter.edit_url %>">Edit</a> |
<a href="<%= @user_presenter.index_url %>">Back</a>

